<div class="container bg-secondary text-white">
    <div class="row">
        <div class="col-12">
            <h3 class="pt-2">Archive</h3><br>
            {{#each archive}}
                <p class="bg-dark m-0 p-0">{{@key}}</p><br>
                {{#each this }}
                    <p class="m-0 p-0">&nbsp;&nbsp;&nbsp;&nbsp;{{@key}}</p><br>
                        {{#each this}}
                            <p class="m-0 p-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="text-white" href="http://localhost:3000/post/{{this.id}}">{{this.title}}</a></p><br>
                        {{/each}}
                {{/each}}
            {{/each}}
        </div>

    </div>

</div>