<div class="col-12">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          {{#if isTokenValid}}
          {{#unless serverError}}
          <h2>Change your password</h2>
          <p class="mt-5">
            Enter your new account password below. Once confirmed you can log in the system with your new password.
          </p>
          <form action="/forgot/change" method="POST" class="mt-4">
            <div class="form-group">
              <div class="row mt-3">
                <div class="col-5 text-left">
                  <label for="password">Password:</label><br>
                </div>
                <div class="col-7">
                  <input type="password" class="form-control" id="password" name="password">
                  <input type="hidden" class="form-control" name="email" value="{{isTokenValid.email}}">
                  <input type="hidden" class="form-control" name="token" value="{{isTokenValid.token}}">
                </div>
              </div>
              <div class="form-group">
                <div class="row mt-3">
                  <div class="col-5 text-left">
                    <label for="password_confirm">Password (again):</label>
                  </div>
                  <div class="col-7">
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                    <div class="text-right">
                      <input type="submit" class="btn btn-info text-white form-control mt-3" value="Submit">
                    </div>
                  </div>
                  {{#if incorrectPw}}
                  <p class="mt-5 text-danger">
                    The provided 2 passwords are not exactly the same. Please try it again!
                  </p>
                  {{/if}}
                </div>
          </form>
          {{/unless}}
          {{/if}}

          {{#unless isTokenValid}}
          <h3>Invalid token</h3>
          <p class="mt-5">
            We are really sorry, but your token is invalid. It can be because of the time limit passed. If you have got
            the email more than an hour earlier, then please ask for a new password again. Or you have opened this link
            before and changed your password already.
          </p>
          {{/unless}}

          {{#if serverError}}
          <h2>Error</h2>
          <p class="mt-5">
            We are really sorry, but something went wrong and we were not able to reset your password.
          </p>
          {{/if}}

          


        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</div>