    <div class="col-12">
          <div class="d-flex justify-content-center align-items-center vh-100" >
              <div class="container">
            
                <form action="/login" method="POST">
                <div class="form-group">
                <div class="row mt-3">
                        <div class="col-5 text-right">
                            <label for="username">Username</label>
                        </div>
                        <div class="col-7">
                            <input type="text" class="form-control w-50" id="username" name="username">
                        </div>
                    </div>
                
                
                    <div class="row mt-3">
                        <div class="col-5 text-right">
                            <label for="pw">Password</label>
                        </div>
                        <div class="col-7">
                            <input type="password" class="form-control w-50" id="pw" name="pw">
                        </div>
                    </div>
                
                
                    <div class="row mt-3">
                        <div class="col-5">
                            
                        </div>
                        <div class="col-7">
                            <input type="submit" class="btn btn-info text-white form-control w-50" value="Login">
                        </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-5"></div>
                      <div class="col-7 text-right">
                        <div class="w-50"><a class="text-decoration-none" href="http://localhost:3000/forgot">Forgot Password?</a></div> 
                      </div> 
                    </div>
                    {{#if loginNeeded}}
                        <div class="row mt-3">
                        <div class="col-5">
                            
                        </div>
                        <div class="col-7">
                            <p class="text-danger">Please login!</p>
                        </div>
                    </div>
                    {{/if}}
                    {{#if credentials}}
                        <div class="row mt-3">
                        <div class="col-5">
                            
                        </div>
                        <div class="col-7">
                            <p class="text-danger">Error! Invalid Credentials</p>
                        </div>
                    </div>
                    {{/if}}
                    {{#if successful}}
                        <div class="row mt-3">
                        <div class="col-5">
                            
                        </div>
                        <div class="col-7">
                            <p class="text-success">Logout Successful</p>
                        </div>
                    </div>
                    {{/if}}
                </form>
                </div>
              </div>
              </div>
            </div>
              

    </div>
