<div class="container-fluid bg-dark">
  <div class="pt-3">
    <div class="container">
      <form action="/postList" method="GET" class="pb-3">
        <input type="text" placeholder="Search.." class="w-50" name="searchFor"> <input class="btn btn-secondary ml-3" type="submit" value="Search">
      </form>
    </div>

    {{#each blogs}}
    {{#unless this.draft}}
    <div class="container">
      <div class="row bg-secondary text-light mb-2">
        <div class="col-8 text-left bg-secondary p-2">
          <h4><a class="text-light" href="http://localhost:3000/post/{{this.slug}}">{{this.title}} (by:
              {{this.author}})</a></h4>
        </div>
        <div class="col-4 text-right bg-secondary p-2">
          <h4>{{this.last_modified_at}}</h4>
        </div>
      </div>
    </div>
    {{/unless}}
    {{/each}}
  </div>

</div>