<div class="container-fluid bg-secondary vh-100">
  <div class="container bg-secondary vh-100">
    
    <div class="row rounded text-light bg-dark pt-2 pb-2">
      <div class="col-3 text-left ">
        <h4>Author: {{post.author}}</h4>
      </div>
      <div class="col-6"></div>
      <div class="col-3 text-right">
        <h4>{{post.last_modified_at}}</h4>
      </div>
    </div>
    <div class="row text-center rounded text-light bg-dark mt-1 pt-2 pb-2">
      <div class="col-12">
        <h4>{{post.title}}</h4>
      </div>

    </div>
    <div class="row rounded text-light bg-dark mt-1 p-3">
      <p>{{{post.content}}}</p><!--A 3 kapcsos zarojelbe mehet html kod. Ha csak 2 lenne akkor sima szovegkent illesztene be -->
    </div>
  </div>

</div>