<div class="col-12 bg-secondary">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container bg-secondary">


            <form action="/selectTheme" method="POST">
                <select name="selectedTheme">
                    {{#each themeList}}
                        <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
                <input type="submit" class="btn btn-info">
            </form>
            {{#if error}}<h4 class="text-danger">We are really sorry, but something went wront, please try it again!
            </h4>{{/if}}
            {{#if success}}<h4 class="text-success">The theme have been changed successfully!</h4>{{/if}}<br>

            <h4 class="text-danger">Please upload a zipped folder which contains a folder (foldername = theme name). In folder there must be a file (filename: bootstrap.css)!</h4>
            <form action="/installTheme" enctype="multipart/form-data" method="POST">
                <input class="btn btn-info" type="file" name="upload" multiple value="Select zipped folder">
                <input class="btn btn-info" type="submit" value="Install theme">
            </form>
            {{#if installError}}<h4 class="text-danger">{{installError}}</h4>{{/if}}
            {{#if installSuccess}}<h4 class="text-success">{{installSuccess}}</h4>{{/if}}<br>
        </div>
    </div>
</div>