<div class="container-fluid bg-secondary vh-100">
  <div class="container bg-secondary vh-100">

    <div class="row rounded text-light bg-dark pt-2 pb-2">
      <h2>Error</h2>
      <p class="mt-5">
        We are really sorry, but something went wrong and could not get the proper data from database. Please try again later. If the problem still persists,
        please contact us on <a href="#">support@blogadmin.com.</a><br><br>
        <h2><a href="javascript:history.back()">Go Back</a></h2>
      </p>
    </div>
  </div>

</div>